.modal{
    width: 100%;
    height: 100vh;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 2;
}

.close_icon{
    width: 95%;
    margin: 0px auto;
    display: flex;
    padding-top: 2rem;
}

.close:hover{
    cursor: pointer;
}

.formate {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    gap: 1rem;
    overflow-y: scroll;
    padding: 1.8rem 0rem 2rem 0rem;
}

@media (min-width : 1010px) {
    .formate{
        width: 50%;
        height: 70vh;
        background-color: white;
        transform: translateX(-10rem);
        margin: 0px auto;
    }    
}
@media (max-width : 1010px) {
    .formate{
        width: 69%;
        height: 70vh;
        margin: 0px auto;
        background-color: white;
        transform: translate(-5rem, 2rem)
    }
}
@media (max-width : 500px) {
    .formate{
        width: 78%;
        height: 70vh;
        margin: 0px auto;
        background-color: white;
        transform: translate(-2.3rem, 2rem)
    }
}