.parent {
    width: 100%;
    height: 100vh;
    /* margin: 0px auto; */
    padding-top: 2rem;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    background-color: rgb(28, 28, 54);
}

.table_{
    border-collapse: separate; 
}

.status{
    display: flex;
    margin-left: -2.5rem;
    gap: 0.8rem;
}

.radio_btn :checked{
    
}