.sidebar_contents{
    display: flex;
    gap: 20px;
    color: white;
}

.sidebar_contents :hover{
    cursor: pointer;
}

.logout_btn{
    border: none;
    background-color: rgb(61, 74, 100);
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    border-radius: 7px;
    color: white;
}