
@media (max-width : 1013px) {

    .table_container{
        margin-right: 1.4rem;
    }

    .continue_registration{
        padding-left: 1rem;
    }

    .continue_text{
        line-height: 1.8rem;
    }

    .profile{
        width: 45px;
        height: 45px;
        border-radius: 50%;
    }
}

.table_custom {
    --bs-table-bg: rgb(209, 219, 216) !important
}

.click :hover{
    cursor: pointer;
}

.space{
    padding-left: 3rem !important;
}

@media (min-width : 1013px) {

    .continue_registration{
        background-color: cadetblue;
        color: rgb(39, 38, 38);
        display: none;
        width: 0;
    }

    .table_container{
        margin-left: 0.7rem;
        margin-right: 1rem;
    }
    
    .table_container{
        display: flex;
        flex-direction: column;
        overflow-x: scroll;
        width: 65%;
        height: 100%;
        padding-left: 0.3rem;
        overflow-y: scroll;
        margin-top: -0.3rem;
        background-color: rgb(209, 219, 216) !important
    }

    .profile{
        width: 45px;
        height: 45px;
        border-radius: 50%;
    }
}