.right_color{
    color: black;
    background-color: white;
}

.curses{
    cursor: pointer;
}

.caption{
    font-weight: bolder;
    font-size :xx-large;
    text-align: center;
}

.caption_div{
    padding-top: 1.1rem;
    padding-bottom: 1.7rem;
}

.field {
    /* background-color: rgb(28, 28, 54); */
    background-color: white;
    border-color: rgb(34, 33, 33);
    color: black;
    border: none;
    border-bottom: 1px solid black;
    
}

@media (min-width : 1013px) {
    .right_color{
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        overflow-y: scroll;
        padding : 0rem 1rem 0rem 1rem ;
    }

    .form{
        width: 100%;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width : 1013px) {
    .right_color{
        height: 100vh;
        width: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
        justify-content: center;
        align-items: center;
        padding : 0rem 1rem 0rem 1rem ;
    }

    .table_holder{
        display: flex;
        overflow-x: scroll;
        overflow-y: scroll;
       
    }
}

@media print {
    .scroll-container {
      overflow: visible;
      height: fit-content;
    }
  }